ion-card{
    --background:rgb(241, 191, 191);  
}

.label{
    font-family: 'Poppins', sans-serif;
}



ion-img{  
      
    height: 25vh !important;
    width: auto !important;
    margin: auto !important;
    display: block !important;
    padding-bottom: 10px;
    border-radius: 100%
}


